/*
 **************************************
	HEADER
 **************************************
*/
.header {
  padding: 30px 5%;
  background-color: white;
  box-shadow: 3px 3px 10px rgba(51, 51, 51, 0.7);
}
.header__left {
  position: relative;
}
.header__img {
  display: none;
  position: absolute;
  width: 75px;
  left: 230px;
  top: -20px;
}
.header__title {
  font-family: "Cormorant Infant", serif;
  font-size: 24px;
  margin: 0 0 5px 0;
}
.header__link {
  text-decoration: none;
  color: hsl(0deg, 0%, 20%);
}
.header__description {
  font-family: "Merriweather", serif;
  font-style: italic;
  font-size: 14px;
  margin: 0;
}
@media screen and (min-width: 640px) {
  .header {
    display: block;
  }
}
@media screen and (min-width: 1100px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: 30px 15%;
  }
}

.menu {
  margin: 0;
  font-size: 16px;
  text-align: center;
}
.menu__toggler {
  cursor: pointer;
}
.menu .menu__checkbox {
  position: absolute;
  left: -9999px;
}
.menu .menu__item--active .menu__link {
  background-color: #C16878;
  color: white;
}
.menu__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #A4BDB2;
  /*colors.$c-secondary; #BFDBCE */
}
.menu__link {
  display: block;
  text-decoration: none;
  border-radius: 20px;
  padding: 10px 15px;
  color: hsl(0deg, 0%, 20%);
}
.menu__link:hover, .menu__link:focus {
  color: white;
  background-color: #C16878;
}
@media screen and (max-width: 1099px) {
  .menu__checkbox:checked ~ .menu__list {
    display: block;
  }
}
@media screen and (min-width: 1100px) {
  .menu__toggler {
    display: none;
  }
  .menu__list {
    display: flex;
    background-color: white;
  }
  .menu__link {
    text-decoration: none;
    border-radius: 20px;
    padding: 10px 15px;
    color: hsl(0deg, 0%, 20%);
  }
  .menu__link:hover, .menu__link:focus {
    color: white;
    background-color: #C16878;
  }
}

.footer__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  background-color: #7d8f87;
  color: white;
  margin: 0;
  padding: 30px 15%;
}
.footer__grid-column {
  font-size: 14px;
}
.footer__grid-column img {
  width: 50px;
  align-content: flex-start;
}
.footer__grid-column--mobile {
  grid-column: span 3;
}
.footer__copyright {
  padding: 15px 30px;
  font-size: 14px;
  text-align: center;
  margin-top: 0;
}
.footer__title {
  font-size: 16px;
}
.footer__title2 {
  color: hsl(0deg, 0%, 80%);
  font-size: 16px;
}
@media screen and (min-width: 640px) {
  .footer__grid-column:first-child {
    grid-column: span 1;
  }
  .footer__grid-column:nth-child(2) {
    grid-column: span 2;
  }
}
@media screen and (min-width: 1100px) {
  .footer__grid-column:nth-child(2) {
    grid-column: span 1;
  }
  .footer__grid-column:nth-child(3) {
    grid-column: span 1;
  }
}

.hero {
  display: flex;
  background-image: url(../images/bannerHZ1.jpg);
  background-size: cover;
  background-position: center;
  height: 250px;
  justify-content: center;
  align-items: flex-end;
}
.hero__description {
  margin-bottom: 5px;
  color: white;
  text-align: center;
  font-style: italic;
  font-size: 24px;
  font-family: "Cormorant Infant", serif;
}

.button {
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 20px;
  background-color: #C16878;
  border: 0;
}
.button:hover {
  background-color: #B25566;
}
.button__title {
  text-decoration: none;
  color: white;
}

.article__column-right .button {
  margin: 0 auto;
}

.buttons {
  text-align: center;
}
@media screen and (min-width: 1100px) {
  .buttons {
    text-align: right;
  }
}

.buttons--center {
  text-align: center;
}

.container__flex {
  padding: 60px 5%;
}
.container__flex-column {
  border-radius: 5px;
  box-shadow: 3px 3px 15px rgba(51, 51, 51, 0.7);
  padding: 30px;
  text-align: center;
  transition: transform 0.3s;
  margin-bottom: 30px;
  background: white;
}
.container__image {
  width: 50px;
}
.container__flex-column:hover {
  transform: scale(1.08);
}
.container__flex-column a {
  text-decoration: none;
  color: #7d8f87;
}
.container__title {
  margin-top: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  line-height: 1.5em;
}
@media screen and (min-width: 1100px) {
  .container__flex {
    display: flex;
    gap: 20px;
    padding: 90px 15%;
  }
  .container__flex-column {
    display: block;
    width: 100%;
    margin-bottom: 0;
  }
  .container__title {
    order: 2;
  }
  .container__image {
    order: 1;
    margin-right: 20px;
  }
}

.contact {
  padding: 60px 5%;
}
.contact__grid {
  display: block;
}
.contact__title {
  margin-top: 0;
  text-align: left;
  font-family: "Merriweather", serif;
  font-size: 18px;
}
.contact__column-right {
  text-align: left;
}
@media screen and (min-width: 1100px) {
  .contact {
    padding: 90px 15%;
  }
  .contact__grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}

.form {
  width: 100%;
  max-width: 400px;
  margin-bottom: 60px;
}
.form__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Merriweather", serif;
  font-size: 18px;
  text-align: left;
}
.form__field {
  margin-bottom: 10px;
}
.form__field > label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: hsl(0deg, 0%, 20%);
}
.form__field input[type=text], .form__field input[type=email], .form__field textarea, .form__field select {
  width: 100%;
  border: 1px solid hsl(0deg, 0%, 20%);
  border-radius: 4px;
  font-size: 16px;
  padding: 5px 10px;
  background-color: white;
}
.form__field input[type=text]:focus, .form__field input[type=email]:focus, .form__field textarea:focus, .form__field select:focus {
  outline: 0;
  border: 2px solid #7d8f87;
  background: white;
}
.form__required::after {
  content: "*";
  color: #C16878;
  margin-left: 4px;
}

.gallery {
  padding: 60px 5%;
}
.gallery__grid {
  display: block;
}
.gallery__grid img {
  width: 100%;
}
@media screen and (min-width: 640px) {
  .gallery__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  .gallery__grid img {
    width: 100%;
  }
}
@media screen and (min-width: 1100px) {
  .gallery {
    padding: 90px 15%;
  }
}

html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: hsl(0deg, 0%, 20%);
  margin: 0;
  line-height: 1.8em;
}
@media screen and (min-width: 640px) {
  body {
    line-height: 1.5em;
  }
}

h1, h2, h3 {
  line-height: 2em;
}

.main {
  margin-top: 0;
}
@media screen and (min-width: 1100px) {
  .main {
    margin-top: 113px;
  }
}

/*
 **************************************
	Home-Inner section (
 **************************************
*/
.article {
  background-color: #f0f0f0;
  padding: 60px 5%;
}
.article--background-color {
  background-color: white;
}
.article__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.article__image--round {
  border-radius: 50%;
  max-width: 300px;
  border: 3px solid white;
  box-shadow: 3px 3px 10px hsl(0deg, 0%, 80%);
}
.article__title {
  margin-top: 20px;
  font-family: "Merriweather", serif;
  font-size: 18px;
  text-align: left;
}
.article__paragraph {
  font-style: italic;
}
.article__title--center {
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
}
.article__title--small {
  font-size: 16px;
}
.article__column-right {
  text-align: left;
}
.article__column-left {
  text-align: center;
  margin-bottom: 20px;
}
.article__column-right p {
  margin-top: 0;
}
.article__column-right p + p {
  margin-top: 16px;
}
.article__list {
  text-align: left;
}
.article__list li {
  margin-top: 0;
}
.article__list li + li {
  margin-top: 10px;
}
@media screen and (min-width: 640px) {
  .article__grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  .article__title {
    margin-top: 0;
    text-align: left;
  }
  .article--center {
    text-align: left;
  }
  .article__title--center {
    text-align: center;
  }
  .article__column-right {
    text-align: left;
  }
  .article__column-left {
    text-align: left;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1100px) {
  .article {
    padding: 90px 15%;
  }
  .article__grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
  .article__column-right {
    grid-column: span 2;
  }
}

/*
 **************************************
	Submission thanks! - for contact form
 **************************************
*/
.submission {
  padding: 60px 5%;
  line-height: 2em;
}
.submission__grid {
  display: grid;
  grid-template-columns: 1fr;
}
.submission__image {
  width: 250px;
}
.submission__grid-item {
  grid-column: span 1;
}
.submission__grid-item--center {
  text-align: center;
}
.submission__grid-item p:first-child {
  margin-bottom: 10px;
}
@media screen and (min-width: 1100px) {
  .submission {
    padding: 90px 15%;
  }
}