body {
  font-family: "Merriweather", serif;
  font-size: 18px;
  color: #242424;
  margin: 0;
  line-height: 1.5em;
}

/*
 **************************************
	MAIN-HEADER
 **************************************
*/
.header {
  display: flex;
  justify-content: space-between;
  padding: 30px 60px;
}
.header__title {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  margin: 0;
}
.header__description {
  color: #242424;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-size: 18px;
  margin: 0;
}
.header__menu {
  list-style: none;
  display: flex;
  margin: 0;
}
.header__item {
  text-decoration: none;
  border-radius: 20px;
  padding: 10px 15px;
  color: #242424;
}
.header__item:hover, .header__item:focus {
  color: white;
  background-color: #c16878;
}

/*
 **************************************
	MAIN Banner
 **************************************
*/
.banner {
  background-color: #ABB194;
  background-image: url();
  background-size: cover;
  color: white;
  text-align: center;
  font-style: italic;
  font-size: 20px;
}

/*
 **************************************
	MAIN Inner section
 **************************************
*/
.welcome {
  background-color: #f0f0f0;
}
.welcome__flex {
  display: flex;
  gap: 20px;
  padding: 30px 60px;
  margin: 0 auto;
}
.welcome__column-left {
  flex: 1 1 50%;
}
.welcome__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.welcome__column-right {
  flex: 1 1 50%;
}

.button {
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 20px;
  background-color: #c16878;
  border: 0;
}
.button__title {
  text-decoration: none;
  color: white;
}

.container__flex {
  display: flex;
  gap: 20px;
  padding: 30px 90px;
}
.container__flex-column {
  flex: 0 1 calc((100% - 40px) / 3);
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
  padding: 30px;
  text-align: center;
}
.container__title {
  margin-top: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  line-height: 1.5em;
}

/*
 **************************************
	MAIN Footer
 **************************************
*/
.footer__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  background-color: #242424;
  color: white;
  margin: 0;
  padding: 30px 90px;
}
.footer__copyright {
  padding: 15px 30px;
  font-size: 14px;
  text-align: center;
  margin-top: 0;
}
.footer__title {
  font-size: 18px;
}
.footer__description {
  font-size: 16px;
}
.footer__title2 {
  color: hsl(0deg, 0%, 70%);
}