@use "abstracts/colors";
@use "abstracts/fonts";
@use "abstracts/spacer";

@use "layout/header";
@use "layout/menu";
@use "layout/footer";

@use "components/hero";
@use "components/buttons";
@use "components/services-boxes";

@use "pages/kontakty";
@use "pages/fotogalerie";







//----------------------------------------
html {
    box-sizing: border-box;
}

* , ::before, ::after {
    box-sizing: inherit;
}



body{
    font-family: fonts.$font-base;
    font-size: 16px;
    color: colors.$c-font;
    margin: 0;
    line-height: 1.5em;
}

h1, h2, h3{
    line-height: 2em;
}

.main{

    margin-top: 0;

    @media screen and (min-width: 1100px){
        margin-top: 113px;
    }
    
    
}

  
 


  


/*
 **************************************
	Home-Inner section (
 **************************************
*/

.article{

    background-color:colors.$lightgrey;
    padding: calc(spacer.$spacer-big * 2) calc(spacer.$spacer / 3);

    &--background-color{
        background-color: white;
    }

   

    &__image{
        width:100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }

    &__image--round{
        border-radius:50%;
        max-width: 300px;
        border: 3px solid white;
        box-shadow: 3px 3px 10px colors.$grey;
      }


    &__title{
        margin-top: spacer.$spacer-small;
        font-family: fonts.$font-special;
        font-size: 18px;
        text-align: left;
        
        
    }

    &__title--center{
        text-align: center;
        font-size: 24px;
        margin-bottom: spacer.$spacer-big;
        
    }
    
    &__title--small{
        font-size: 16px;
    }

    &__column-right{
        text-align: left;
    }

    &__column-left{
        text-align: center;
        margin-bottom: 20px;
    }

    &__column-right p {
        margin-top: 0;
        
    }

    &__column-right p + p {
        margin-top: 16px;
    }

    &__list{
        text-align: left;
    }

    &__list li{
        margin-top: 0;
    }

    &__list li + li {
        margin-top: 10px;
    }


    @media screen and (min-width:1100px){
        
        padding: spacer.$spacer-big * 3 spacer.$spacer;
        
       
       
        &__grid{
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto;
           
        }

        &__column-right{
            grid-column: span 2;
        
        }

        &__title{
            margin-top: 0;
            text-align: left;
            
        }

        &--center{
            text-align: left;
        }

        &__title--center{
            text-align: center;
                     
        }

        
        &__column-right{
            text-align: left;
        }

        &__column-left{
            text-align: left;
            margin-bottom: 0;
        }

        
            
    }

}





/*
 **************************************
	Submission thanks! - for contact form
 **************************************
*/

.submission{
    padding: spacer.$spacer-big * 2 spacer.$spacer / 3;

    line-height: 2em;
   

    &__grid{
        display: grid;
        grid-template-columns: 1fr;
    }

    &__image{
        width: 250px;
    }

    &__grid-item{
        grid-column: span 1;
    }

    &__grid-item--center{
        text-align: center;
    }
    
    &__grid-item p:first-child{
        margin-bottom: 10px;
    }


    
    @media screen and (min-width:1100px){
            
        padding: spacer.$spacer-big * 3 spacer.$spacer;

    }
}

