---
layout: main-layout.njk
title: Úvod
---


    <!-- Inner section -->

    {% include "partials/hero.njk" %}
          
    {% include "partials/services-boxes.njk" %}

    <article class="article">
        
        <div class="article__grid">

            <!-- left column -->
            
            <img class="article__image" src="/images/profile400.jpg" alt="Hanka">
           
            <!-- right column -->           
            <div class="article__column-right">	
                <h2 class="article__title" >Mgr. Hana Zakouřilová, MBA</h2>
                <p>Jsem ráda, že jste zavítali na mé webové stránky. V rámci své činnosti se věnuji několika oblastem - poradenství, psychoterapie, primárně preventivní aktivity na základních a středních školách, vzdělávací aktivity. </p>
                <p>Více o nabízených službách naleznete v jednotlivých záložkách. Pokud byste měli jakýkoliv dotaz, budu ráda, když mě kontaktujete.</p>
                <p>Během své práce dodržuji etické zásady a mlčenlivost. Jsem členkou České asociace pro psychoterapii.</p>
            
                <div class="buttons">
                    <button class="button">
                    <a class="button__title" href="/omne/">Moje reference</a>
                    </button>
                </div>
            </div>

        </div>
    </article>
    

        


  