---
layout: main-layout.njk
title: Úvod
---


    <!-- Inner section -->

    {% include "partials/hero.njk" %}
          
  

    <article class="home">
        
        <div class="home__grid">

            <img class="home__logo" src="/images/favicon.svg" alt="logo">
           
            <!-- left column -->           
            <div class="home__grid-item">

                <h2 class="home__title">S čím mohu pomoci</h2>

                <p class="home__text">V rámci své činnosti se věnuji několika oblastem - psychoterapii, speciálně
                    pedagogickému poradenství, preventivním aktivitám na základních a středních
                    školách, vzdělávacím aktivitám.</p>
                <p class="home__text">Během své práce dodržuji etické zásady a mlčenlivost. Jsem členkou České asociace pro psychoterapii.</p>

                 {% include 'partials/services-boxes.njk' %}

    
            </div>

             <img class="home__image" src="/images/profile.jpg" alt="Hanka">
           
            
        </div>

      
    </article>
    

        


  