<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hana Zakouřilová</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,400;0,600;1,600&display=swap" rel="stylesheet">
</head>
<body>

    	<!-- Header -->
	<div class="header">
        <div class="header__left">
            <h1 class="header__title"><a class="header__link" href="/">Hana ZAKOUŘILOVÁ</a></h1>
            <p class="header__description">psychoterapeut</p>
        </div>
        
        <nav class="menu">
            <ul class="menu__list">
                <li><a class="menu__link" href="/">Úvod</a></li>
                <li><a class="menu__link" href="/sluzby/">Služby</a></li>
                <li><a class="menu__link" href="/omne/">O mně</a></li>
                <li><a class="menu__link" href="/fotogalerie/">Fotogalerie</a></li>
                <li><a class="menu__link" href="/cenik/">Ceník</a></li>
                <li><a class="menu__link" href="/kontakty/">Kontakty</a></li>
            </ul>
        </nav>

    </div>

    <main class="main">

		{{ content | safe }}

	</main>


    <footer class="footer">

        <div class="footer__grid">

            <div class="footer__grid-column">
                <h2 class="footer__title">Odkazy</h2>
                <p class="footer_description"></p>
            </div>

            <div class="footer__grid-column">
                <h2 class="footer__title">Mgr. Hana Zakouřilová, MBA</h2>
                <p class="footer_description">
                    Brná 55<br>
                    517 43 Potštejn<br>
                    IČ 02541203
                </p>
            </div>

            <div class="footer__grid-column">
                <h2 class="footer__title">Kontakt</h2>
                <p class="footer_description">
                    <span class="footer__title2">Telefon:</span><br>
                    +420 604 449 406
                </p>
                <p class="footer_description">
                    <span class="footer__title2">E-mail:</span><br>
                    hzakourilova@gmail.com
                </p>
            </div>
        </div>

        <div class="footer__copyright">
            &copy;2022, Hana Zakouřilová
        </div>
    </footer>

</body>
</html>