<!-- Footer-->

<footer class="footer">

    <div class="footer__grid">

        <div class="footer__grid-column footer__grid-column--mobile">
            <h2 class="footer__title">Odkazy</h2>
            <a href="https://czap.cz/"> <img src="/images/CAP_odznak_radny_M_web.png" alt="logo"></a>
            <p class="footer_description"></p>
        </div>

       
        <div class="footer__grid-column footer__grid-column--mobile">
            <h2 class="footer__title">Kontakt</h2>
            <p class="footer_description">
                <span class="footer__title2">Telefon:</span><br>
                +420 604 449 406
            </p>
            <p class="footer_description">
                <span class="footer__title2">E-mail:</span><br>
                hzakourilova@gmail.com
            </p>
        </div>
    </div>

    <div class="footer__copyright">
        <div class="footer__copyright-left">
            <p> &copy;2023, Hana Zakouřilová</p>
        </div>
        <div class="footer__copyright-right">
            <p>web vytvořila Kristýna Sovová</p>
        </div>
       
    </div>
</footer>