<!-- Footer-->

<footer class="footer">

    <div class="footer__grid">

        <div class="footer__grid-column footer__grid-column--mobile">
            <h2 class="footer__title">Odkazy</h2>
            <p class="footer_description"></p>
        </div>

        <div class="footer__grid-column footer__grid-column--mobile">
            <h2 class="footer__title">Mgr. Hana Zakouřilová, MBA</h2>
            <p class="footer_description">
                Brná 55<br>
                517 43 Potštejn<br>
                IČ 02541203
            </p>
        </div>

        <div class="footer__grid-column footer__grid-column--mobile">
            <h2 class="footer__title">Kontakt</h2>
            <p class="footer_description">
                <span class="footer__title2">Telefon:</span><br>
                +420 604 449 406
            </p>
            <p class="footer_description">
                <span class="footer__title2">E-mail:</span><br>
                hzakourilova@gmail.com
            </p>
        </div>
    </div>

    <div class="footer__copyright">
        &copy;2022, Hana Zakouřilová
    </div>
</footer>