    	<!-- Header with menu-->
        
        <div class="header">

            <div class="header__left">
                <h1 class="header__title"><a class="header__link" href="/">Hana ZAKOUŘILOVÁ</a></h1>
                <p class="header__description">psychoterapeut</p>
            </div>
            
            <nav class="menu">

                <input type="checkbox" class="menu__checkbox" id="menu-checkbox">
                <label for="menu-checkbox" class="menu__toggler">☰ Menu</label>

                <ul class="menu__list">
                    <li class="menu__item"><a class="menu__link" href="/">Úvod</a></li>
                    <li class="menu__item"><a class="menu__link" href="/sluzby/">Služby</a></li>
                    <li class="menu__item"><a class="menu__link" href="/omne/">O mně</a></li>
                    <li class="menu__item"><a class="menu__link" href="/fotogalerie/">Fotogalerie</a></li>
                    <li class="menu__item"><a class="menu__link" href="/cenik/">Ceník</a></li>
                    <li class="menu__item"><a class="menu__link" href="/kontakty/">Kontakty</a></li>
                </ul>
            </nav>
    
        </div>