  	<!-- Hero section with background image and motto -->
      <div class="hero">

        <div class="hero__grid">

             <img class="hero__image" src="/images/bannerHZ1.jpg" alt="hero">

             <p class="hero__description">
                I jen vyslovení toho, co mě trápí, může být léčivé
            </p>	
            
           

        </div>

	</div>