   	<!-- Hero section with background image and motto -->
       <div class="hero">
		
        <p class="hero__description">
            I jen vyslovení toho, co mě trápí, může být léčivé
        </p>		

	</div>