<div class="container">

    <div class="container__flex">

        <div class="container__flex-column">
            <h2 class="container__title">
                <a href="#service1">Poradenství a psychoterapie</a> 
            </h2>
            <a href="#service1">
             <img class="container__image" src="/images/couch-mint.svg" alt="couch">
            </a>
        </div>

        <div class="container__flex-column">
            <h2 class="container__title">
                <a href="#service2">Primární prevence</a>
            </h2>
            <a href="#service2">
             <img class="container__image" src="/images/hands-mint.svg" alt="hands">
            </a>
        </div>

        <div class="container__flex-column">
            <h2 class="container__title">
                <a href="#service3">Lektorská činnost</a>
            </h2>
            <a href="#service3">
                <img class="container__image" src="/images/book-mint.svg" alt="book">
            </a>
        </div>
    
    </div>

    
</div>