<div class="container">


    <a href="/sluzby/#psychoterapie" class="container__flex">

        <img class="container__icon" src="/images/couch-mint.svg" alt="couch">
        
        <p class="container__text">Psychoterapie</p>
        
        
        
    </a>

    <a href="/sluzby/#prevence" class="container__flex">

        <img class="container__icon" src="/images/hands-mint.svg" alt="hands">
        
        <p class="container__text">Preventivní programy</p>
        
            
        
    </a>

    <a href="/sluzby/#lektorovani" class="container__flex">

        <img class="container__icon" src="/images/book-mint.svg" alt="book">
        
        <p class="container__text">Lektorská činnost</p>
             
    </a>
    
    

    
</div>