@use '../abstracts/_colors.scss';
@use "../abstracts/_fonts.scss";
@use "../abstracts/_spacer.scss";



.menu{
       
    margin:0;
    font-size: 16px;
    text-align: center;


    &__toggler{
        cursor: pointer;
    }

    .menu__checkbox{
        position: absolute;
        left: -9999px;
    }

    .menu__item--active .menu__link {
        background-color: colors.$c-primary;
        color: white;
    }
    
    &__list{
        display:none;
        margin:0;
        padding: 0;
        list-style: none;
        background-color: #A4BDB2; /*colors.$c-secondary; #BFDBCE */
    }
    
   
    
    &__link{
        display: block;
        text-decoration: none;
        border-radius: 5px;
        padding: spacer.$spacer-small/2 spacer.$spacer-big/2;
        color: colors.$c-font;
        

        &:hover,
        &:focus{
        color: white;
        background-color: colors.$c-primary;} 
    }


    
    @media screen and (max-width: 1099px) {
        &__checkbox:checked ~ &__list{
            display: block;
        }
    }

                     
    @media screen and (min-width:1100px) {

        &__toggler{
            display: none;
        }
    
          
        &__list{
            display:flex;
            background-color: white;
          

        }

        &__link {
                
            text-decoration: none;
            border-radius: 5px;
            padding: spacer.$spacer-small/2 spacer.$spacer-big/2;
            color: colors.$c-font;

            &:hover,
            &:focus{
            color: white;
            background-color: colors.$c-primary;} 
                
        }
    }

    

}



