@use '../abstracts/_colors.scss';
@use "../abstracts/_fonts.scss";
@use "../abstracts/_spacer.scss";


.hero{

   
       
        background-image: url(../images/bannerHZ1.jpg);
        background-size: cover;
        background-position: center;
        height: 250px;
        
        

        &__description{
            margin-top: 0;
            color: white;
            text-align: center;
            font-style: italic;
            font-size: 24px;
            font-family: fonts.$font-logo;
        }
    
        @media screen and (min-width:640px){
            display: flex;
            justify-content: center;
            align-items: flex-end;

            &__description{
               margin-bottom:5px;

        }
    }
   
}