@use '../abstracts/_colors.scss';
@use "../abstracts/_fonts.scss";
@use "../abstracts/_spacer.scss";



.container {

    
        
         &__flex{
            display: flex;
          
            border-radius: 5px;
            box-shadow: 1px 1px 7px rgba($color: colors.$c-font, $alpha: 0.15);
            padding: spacer.$spacer-big;
            text-align: center;
            transition: transform 0.3s;
            margin-bottom: spacer.$spacer-big;
            background: white;
            text-decoration: none;
            color: colors.$c-secondary;
            
        
        }

        &__icon{
            width: 25px;
            margin-right: spacer.$spacer-small;
        }

        &__flex:hover{
            transform: scale(1.08);
            
        }

        
        &__text{
            margin: 0;
            font-family: fonts.$font-base;
            font-size: 16px;
            line-height: 1.5em;
            
            
        }

       

}

