@use '../abstracts/_colors.scss';
@use "../abstracts/_fonts.scss";
@use "../abstracts/_spacer.scss";



.container {
    display: block;
        &__flex{
            padding: spacer.$spacer-big * 2 spacer.$spacer / 3;
        }
        
         &__flex-column{
            border-radius: 5px;
            box-shadow: 3px 3px 15px rgba($color: colors.$c-font, $alpha: 0.7);
            padding: spacer.$spacer-big;
            text-align: center;
            transition: transform 0.3s;
            margin-bottom: spacer.$spacer-big;
            background: white;
        
        }

        &__image{
            width: 50px;
        }

        &__flex-column:hover{
            transform: scale(1.08);
        }

        &__flex-column a{
            text-decoration: none;
            color: colors.$c-secondary;
        }


        &__title{
            margin-top: 0;
            font-family: fonts.$font-special;
            font-size: 25px;
            line-height: 1.5em;
            
        }

        @media screen and (min-width:640px){
            &__flex-column{
                display: flex;
            }

            &__title{
                order: 2;
            }

            &__image{
                order:1;
                margin-right: spacer.$spacer-small ;
            }

        }

         @media screen and (min-width:1100px){

            &__flex{
                display: flex;
                gap: spacer.$spacer-small;
                padding: spacer.$spacer-big *3 spacer.$spacer;
                
            }

            &__flex-column{
                display: block;
                width:100%;
                margin-bottom: 0;
                                   
             }

             &__image{
                
                margin-right: 0;
            }


         }

}

