
$c-primary: #c16878;
$button-hover: #B25566;
$c-secondary: #7d8f87;
$c-font: hsl(0, 0%, 20%);
$grey: hsl(0, 0%, 80%);
$lightgrey:#f0f0f0;

$c-box1: #ABB194;
$c-box2: #A0A8AF;
$c-box3: #B3D1DB;
$c-box4: #F1F9FA;